<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio Final</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <button><a href="/listaCategorias">Categorias</a></button>
    <br>
    <button><a href="/nuevoProducto">Nuevo Producto</a></button>
    <!-- Tabla para mostrar usuarios -->
    <div th:if="${productos.size() > 0}">
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Precio (Sin IVA)</th>
                <th>Precio (Con IVA)</th>
                <th>Acciones</th>
                
            </tr>
            <tr th:each="producto : ${productos}">
                <td th:text="${producto.id}"></td>
                <td th:text="${producto.nombre}"></td>
                <td th:text="${producto.nombreTipoProducto}"></td>
                <td th:text="${producto.precio}"></td>
                <td th:text="${producto.precioConTaxas}"></td>
                <td><a th:href="@{/modificarProducto/{id}(id=${producto.id})}">Modificar</a> | <a th:href="@{/eliminarProducto/{id}(id=${producto.id})}">Eliminar</a></td>
            </tr>
        </table>
    </div>
    <div th:if="${productos.size() == 0}">
        <p>No hay productos registrados.</p>
    </div>
</body>
</html>