<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio Final: Modificar Producto</title>
</head>
<body>
    <!-- Formulario -->
    <h2>Modificar Producto</h2>
    <form th:action="@{/modificarProducto/{id}(id=${producto.id})}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" th:value="${producto.nombre}" placeholder="Nombre"><br><br>

        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" th:value="${producto.precio}" placeholder="Precio"><br><br>

        <label for="idCategoria">ID Categoria:</label>
        <select id="idCategoria" name="idCategoria">
            <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
        </select><br><br>

        <button type="submit">Confirmar Modificación</button>
    </form>
</body>
</html>