<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio Final: Nuevo Producto</title>
</head>
<body>
    <!-- Formulario -->
    <h2>Agregar Nuevo Producto</h2>
    <form th:action="@{/nuevoProducto}" method="post">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" placeholder="ID"><br><br>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre"><br><br>

        <label for="precio">Precio:</label>
        <input type="precio" id="precio" name="precio" placeholder="Precio"><br><br>

        <label for="idCategoria">ID Categoria:</label>
        <input type="idCategoria" id="idCategoria" name="idCategoria" placeholder="ID Categoria"><br><br>

        <button type="submit">Agregar Producto</button>
    </form>
</body>
</html>