.container {
    text-align: center;
    padding: 20px;
  }
  
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
  }
  
  .card-item {
    background: #0A1828;
    color: #BFA181;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .card-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  