<h2>Editar Housing Location</h2>

<div>
  <form (ngSubmit)="submitForm()">
    <label for="name">Nombre:</label>
    <input id="name" [(ngModel)]="housingLocation.name" name="name" required />

    <label for="city">Ciudad:</label>
    <input id="city" [(ngModel)]="housingLocation.city" name="city" required />

    <label for="state">Estado:</label>
    <input id="state" [(ngModel)]="housingLocation.state" name="state" required />

    <label for="photo">Foto:</label>
    <input id="photo" type="file" (change)="onFileSelected($event)" />

    <button type="submit">Guardar</button>
  </form>
</div>
