<div class="container">
    <h1>Explora el Mundo de los Juegos de Cartas Coleccionables</h1>
    <p>Bienvenido a nuestra plataforma, donde encontrarás información detallada sobre los sets más recientes, cartas icónicas y todo lo relacionado con los TCG más populares. Sumérgete en el universo de coleccionables y estrategia con Pokémon TCG y Magic: The Gathering.</p>
    
    <div class="tcg-section">
        <div class="tcg-card">
            <h2>Pokémon TCG</h2>
            <p>Descubre los sets y cartas más recientes del juego de cartas de Pokémon. Explora ediciones especiales, expansiones y las cartas más buscadas por coleccionistas y jugadores competitivos.</p>
            <img src="img/Terastal-Festival-Booster-Pack.png" alt="Pokemon: Terastal Festival Set">
        </div>

        <div class="tcg-card">
            <h2>Magic: The Gathering</h2>
            <p>Explora las expansiones y cartas del icónico juego de estrategia Magic: The Gathering. Conoce los nuevos lanzamientos, mecánicas de juego y las cartas más valiosas del mercado.</p>
            <img class="mtg" src="img/kamigawa_mtg.webp" alt="Magic The Gathering: Duskmourn Set">
        </div>
    </div>
</div>
