.auth-container {
  width: 50%;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
  color: #3dc5c1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.error-message {
  color: red;
}