<div class="container">
  <h2>Sets de Pokémon TCG</h2>

  <div class="sets-list">
    <div class="set-item" *ngFor="let set of sets">
      <img [src]="set.images.logo || 'assets/img/pokemon_default_logo.png'" [alt]="set.name">
      <div class="set-info">
        <h3>
          <a [routerLink]="['/pokemon/set', set.id]">{{ set.name }}</a>
        </h3>
        <p>Lanzamiento: {{ set.releaseDate || 'Desconocido' }}</p>
        <button (click)="addToWishlist(set)" class="favorite-btn">
          ❤️
        </button>
      </div>
    </div>
  </div>
</div>
